<div class="wrapper">
	<div class="push">
		<div class="footer col-md-10 col-md-offset-1 well"><!--footer-->
      		<div class="row">
      			<p class="text-muted" style= "color: black"><small>Created by<strong style= "color: white">Yhlas Jorayev<strong style= "color: black">, <strong style= "color: white">Youngmin Kim<strong style= "color: black">, <strong style= "color: white">Jae Hyun Lee<strong style= "color: black">, <strong style= "color: white">Shenling Sun<strong style= "color: black">, <strong style= "color: white">Kun Li</strong></p></small>
			</div><!--/row-->
		</div>
	</div>
</div><!--/footer-->
